name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            src-tauri/target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      # If the problem persists even with the cache,
      # try clearing the cache temporarily.
      # - name: Clean build artifacts
      #   working-directory: src-tauri
      #   run: cargo clean

      - name: Build
        working-directory: src-tauri
        run: cargo build --verbose

      - name: Run tests
        working-directory: src-tauri
        run: cargo test --verbose
